<!DOCTYPE html>
<html lang="es-Cl">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/flexboxgrid.css" type="text/css">
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">  
    <title>REGISTRO</title>
  </head>
  <body>
    <form action="crearRegistro/" method="post">
      {% csrf_token %}
      <div>
        <label for="text">FOTOGRAFIA DE LA MASCOTA:</label>
        <input type="file" name="fotografia" required>
      </div>

      <div>
        <label for="text">NOMBRE DE LA MASCOTA:</label>
        <input type="text" name= "nombreMascota" required>
      </div>

      <div>
        <label for="text">RAZA PREDOMINANTE:</label>
        <input type="text" name= "razaPredominante" required>
      </div>

      <div>
        <label for="text">DESCRIPCION:</label>
        <textarea name="descripcion" rows="8" cols="80"></textarea>
      </div>

      <div>
        <label for="text">ESTADO ACTUAL:</label>
        <select name="estado" name="estado" required>
          <option value="RESCATADO">RESCATADO</option>
          <option value="DISPONIBLE">DISPONIBLE</option>
          <option value="ADOPTADO">ADOPTADO</option>
        </select>
      </div>

      <div>
        <input type="submit" value="Crear registro">
      </div>

    </form>
  </body>
</html>
