<!DOCTYPE html>
<html lang="es-Cl">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/flexboxgrid.css" type="text/css">
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">  
    <title>Registro Usuario</title>
  </head>

  <body class="text-center loggin">
    <div class="rounded loginn">
      <form action="crearUsuario/" class="form-signin" method="post">
        <h3>REGISTRO DE USUARIOS</h3>
        {% csrf_token %}
        <div>
          <label for="text" style="font-size:25px;">Nombre de Usuario:</label>
          <input type="text" class="form-control" name="nombreUsuario">
        </div>   
        <div>
          <label for="text" style="font-size:25px;">Contraseña:</label>
          <input type="password" class="form-control" name="clave">
        </div>    
        <div>
          <label for="text" style="font-size:25px;">Correo Electronico:</label>
          <input type="email" class="form-control" name="correo">
        </div>  
        <div style=" padding-top: 10px;">
          <input type="submit"  style="font-size:25px;"class="btn btn-primary" value="Crear usuario">
        </div>
      </form>
    </div>    
  </body>
</html>
