<!DOCTYPE html>
<html lang="es-Cl">

  <head>
    <meta charset="utf-8">
    <title>Registrate con nosotros :D </title>
  </head>

  <body>
    <h1>REGISTRO DE USUARIOS</h1>
    <form action="crearUsuario/" method="post">
      {% csrf_token %}
      <div>
        <label for="text">Nombre de usuario(*):</label>
        <input type="text" name="nombreUsuario">
      </div>

      <div>
        <label for="text">Contraseña(*):</label>
        <input type="password" name="clave">
      </div>

      <div>
        <label for="text">Correo electronico(*):</label>
        <input type="email" name="correo">
      </div>

      <div>
        <input type="submit" value="Crear usuario">
      </div>

    </form>

  </body>
</html>
